@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --font01:'Alata', sans-serif;
    --font02:'Josefin Sans', sans-serif;
    --color01:hsl(0, 0%, 100%);
    --color02:hsl(0, 0%, 0%);
    --color03:hsl(0, 0%, 55%);
    --color04: hsl(0, 0%, 41%);
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: rgb(207, 17, 17);
}
.container-header{
    background: url(Designer/imagens/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
}
.container-figure{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    height: 100px;
}
.img-logo-page{
    height:30px;
    margin-left:-25px;  
}
.menu-hamburge{
    height:18px;
    margin-right:-25px;
}
.header-div{
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    border: 1px solid var(--color01);
    display: flex;
    align-items: center;
    height:200px;
    width:85vw;
    margin-bottom: 100px;
}
h1{
    font-size:40px ;
    font-family:var(--font02);
    font-weight:300;
    color:var(--color01);
    padding: 25px;
    text-align: justify;
}
main.container-main{
    background-color:var(--color01);
}
.section-contain{
    display: flex;
    flex-direction: column;
    width:85vw;
    margin:auto;
}
.imagem-interactive{
    margin-top: 90px;
    width:85vw;
}
.section-title-01{
    font-family: var(--font02);
    margin-top: 40px;
    text-align:center;
    font-weight:300;
    font-size: 4.8vh;
}
.div-text{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.section-text{
    font-family:var(--font01);
    color:var(--color03);
    font-weight:200;
    width: 260px;
    text-align: center;
    font-size:14px;
    line-height:1.8em;
}
.section-title-02{
    font-family: var(--font02);
    margin-top: 80px;
    margin-bottom: 50px;
    text-align:center;
    font-weight:300;
    font-size: 4.8vh;
    text-transform:uppercase;
}
.figure-container-pack{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height:auto;
}
.div-img-1{
    width:85vw;
    height: 100px;
    background-image:url(Designer/imagens/mobile/image-deep-earth.jpg);
}
.img-all{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 15px;
    width:120px;
    height:100px ;
    color: var(--color01);
    font-family:var(--font02);
    font-size: 25px;
    font-weight:300;
}
.div-img-2{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-night-arcade.jpg);
}
.div-img-3{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-soccer-team.jpg);

}
.div-img-4{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-grid.jpg);
}.div-img-5{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-from-above.jpg);
}
.div-img-6{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-pocket-borealis.jpg);
}
.div-img-7{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-curiosity.jpg)
}
.div-img-8{
    width:85vw;
    height: 100px;
    background-image: url(Designer/imagens/mobile/image-fisheye.jpg);
}