@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --font01:'Alata', sans-serif;
    --font02:'Josefin Sans', sans-serif;
    --color01:hsl(0, 0%, 100%);
    --color02:hsl(0, 0%, 0%);
    --color03:hsl(0, 0%, 55%);
    --color04: hsl(0, 0%, 41%);
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: rgb(207, 17, 17);
}
.container-header{
    background: url(Designer/imagens/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
}
.container-figure{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    height: 100px;
}
nav{
    display: none;
}
.img-logo-page{
    height:30px;
    margin-left:-25px;  
}
.menu-hamburge{
    height:18px;
    margin-right:-25px;
}
.header-div{
    height:85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    border: 1px solid var(--color01);
    display: flex;
    align-items: center;
    height:40vh;
    width:85vw;
    margin-bottom: 100px;
}
h1{
    font-size:11vw ;
    font-family:var(--font02);
    font-weight:300;
    color:var(--color01);
    padding: 25px;
    text-align: justify;
}
main.container-main{
    background-color:var(--color01);
}
.section-contain{
    display: flex;
    flex-direction: column;
    width:85vw;
    margin:auto;
}
.imagem-interactive{
    margin-top: 90px;
    width:85vw;
}
.section-title-01{
    font-family: var(--font02);
    margin-top: 40px;
    text-align:center;
    font-weight:300;
    font-size: 4.8vh;
}
.div-text{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.section-text{
    font-family:var(--font01);
    color:var(--color03);
    font-weight:200;
    width: 260px;
    text-align: center;
    font-size:14px;
    line-height:1.8em;
}
.section-title-02{
    font-family: var(--font02);
    margin-top: 80px;
    margin-bottom: 50px;
    text-align:center;
    font-weight:300;
    font-size: 4.8vh;
    text-transform:uppercase;
}
.figure-container-pack{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height:auto;
}

.img-all{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 15px;
    width:120px;
    height:100px;
    color: var(--color01);
    font-family:var(--font02);
    font-size: 25px;
    font-weight:300;
}
.div-img-1{
    width:85vw;
    height: 110px;
    background:url(Designer/imagens/mobile/image-deep-earth.jpg);
    background-size:cover;
}
.div-img-1:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-2{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-night-arcade.jpg);
}
.div-img-2:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-3{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-soccer-team.jpg);
}
.div-img-3:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-4{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-grid.jpg);
}
.div-img-4:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-5{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-from-above.jpg);
}
.div-img-5:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-6{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-pocket-borealis.jpg);
}
.div-img-6:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-7{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-curiosity.jpg)
}
.div-img-7:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
.div-img-8{
    background-size:cover;
    width:85vw;
    height: 110px;
    background-image: url(Designer/imagens/mobile/image-fisheye.jpg);
}
.div-img-8:hover{
    height:130px;
    transition: all 0.4s ease;
    background-size:cover;
}
button{
    margin: auto;
    margin-bottom: 60px;
    letter-spacing: 3px;
    background-color: transparent;
    font-family: var(--font01);
    font-weight: 500;
    color: black;
    margin-top: 30px;
    border:1px solid black;
    height: 40px;
    width:130px;
   transition: background-color 0.5s, transform 0.5s;
}
button:hover{
    background-color: black;
    color:white;
}
button:active{
    transform:scale(0.9);
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    display:flex;
    flex-direction:column;
}
.div-footer-logo{
    margin: auto;
    padding-top:30px;
    padding-bottom: 25px;
}
.footer-img{
    height: 20px;
}
ul{
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
li{
    font-family: var(--font02);
    font-size:15px;
    color: white;
    font-weight: 400;
    list-style-type:none;
}
.container-social-midia{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:100px;
}
.ico-social-midia{
    height: 25px;
}
p.text-footer-01{
    height:60px;
    color: var(--color04);
    margin: auto;
    padding-bottom: 10px;
    font-family:var( --font01);
    font-size:15px;
}
@media (max-width:768px) and (min-width:470px){
    .container-header{
        background-image:url(Designer/imagens/Desktop/image-hero.jpg);
        width: 100vw;
       
    }
    .container-figure{
        display:flex;
        flex-direction:column;
        height: 20vh;
    }
    .menu-hamburge{
        display:none;
    }
    .img-logo-page{
        height: 40px;
    }
    nav{
       display:flex;
       gap:20px;
    }
    nav a{
        color:white;
        text-decoration:none;
        font-family:var(--font02);
        font-size:18px;
        font-weight:300;
    }
    .header-title{
        height:45vw;
        width:75vw;
    }
    h1{
        font-size: 10vw ;
    }
    .figure-container-pack{
        

    }
    .div-img-1, .div-img-2, .div-img-3, .div-img-4, .div-img-5, .div-img-6, .div-img-7, .div-img-8 {
        height:30vh;  
        width: 85vw ;

    }
    .div-img-1:hover, .div-img-2:hover, .div-img-3:hover, .div-img-4:hover, .div-img-5:hover, .div-img-6:hover, .div-img-7:hover, .div-img-8:hover {
        height:30vh;
        width: 85vw; 
        transition: none;
    }
}